.menu {
  &__container {
    margin: 4rem 0;
    padding: 1rem;
    min-height: 100vh;
  }
  &__title {
    font: 50px/1 "Lobster", cursive;
    text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;
    margin-bottom: 2rem;
    text-align: center;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    justify-items: center;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    button {
      display: inline-block;
      padding: 10px 20px;
      width: max-content;
      min-width: 150px;
      position: relative;
      transition: 0.2s ease-in-out;
      background: #fc8b93;
      border: 1.5px solid #37353f;
      border-radius: 0 0 125px 3px/3px 85px 5px 55px;
      box-shadow: 3px 3px 0 0 #37353f;
      font-weight: 400;
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.3s ease-in-out;
      span {
        position: relative;
        z-index: 2;
      }
      &:hover {
        background: rgba(#fc8b93, 0.6);
      }
      &:focus,
      &:active {
        transform: translate(3px, 3px);
      }
    }
  }

  &__search {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    input {
      width: 60%;
      padding: 10px;
      border: 1.5px solid #37353f;
      border-radius: 0 0 125px 3px/3px 85px 5px 55px;
      width: 100%;
      &:focus {
        border-width: 0 0 1.5px 0;
      }
    }
  }
}
