@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lobster&display=swap");

/* $font-title: "Chelsea Market", sans-serif;
$font-cursive: "Pacifico", cursive;
$font-text: "Neucha", sans-serif;

$black: #37353f;
$green: rgb(205, 220, 57);
$purple: #965784;
$pink: #fc8b93;
$orange: #feac5e;
$yellow: #fdc830;
$blue: #396afc; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(90deg, #fbfae8 15px, transparent 1%) center,
    linear-gradient(#fbfae8 15px, transparent 1%) center, #ccc;
  background-size: 16px 16px;
  font-family: "Gochi Hand", serif;
  font-weight: 400;
  font-style: normal;
}

.component_container {
  margin-bottom: 2rem;
}

h3 {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
}
